<mat-card class="profile-card">
  <h2>Profile</h2>

  <div *ngIf="!isEditing && currentUser">
    <p><strong>Username:</strong> {{ currentUser.username }}</p>
    <p><strong>Email:</strong> {{ currentUser.email }}</p>
    <button mat-raised-button color="primary" (click)="toggleEdit()">Adatok szerkesztése</button>
  </div>

  <form *ngIf="isEditing && editedUser" (ngSubmit)="saveChanges()">
    <mat-form-field appearance="fill">
      <mat-label>Felhasználónév</mat-label>
      <input matInput [(ngModel)]="editedUser.username" name="username" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="editedUser.email" name="email" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Mentés</button>
    <button mat-raised-button color="accent" type="button" (click)="toggleEdit()">Mégse</button>
  </form>
  <button mat-raised-button color="warn" (click)="deleteProfile()">Profil törlése</button>
  <div *ngIf="!currentUser">
    <p>Loading...</p>
  </div>
</mat-card>