:host {
  display: block;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

label {
  font-weight: 500;
  margin-right: 0.5rem;
}

select {
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: 1px solid #bbb;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  background: rgba(255,255,255,0.2);
  border-radius: 8px;
  overflow: hidden;
  font-weight: bold;
}

th, td {
  padding: 0.7rem 0.5rem;
  text-align: center;
}

th {
  background: #0b0129;
  color: #fff;
  font-weight: 600;
}
tr:nth-child(odd) {
  background: #da6303;
}
tr:nth-child(even) {
  background: #cc890c;
}

tr:hover {
  background: #c23917;
}

.leaderboard-type-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  
  

  button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    color: #eee;
    background: #11033b;
    border-radius: 0.5rem;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: none;
    position: relative;
    z-index: 1;

    &.active {
      font-size: 1.2rem;
      background: #2d0b96;
      box-shadow: 0 8px 16px -8px #ffffff, 0 4px 16px -4px #aaa;
      z-index: 2;
    }
  }
}